*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

    .bas{
        top: 70%;
        width: 30%;
        left: 10%;
    }
    .haut{
        width: 25%;
        left: 55%;
        top: -10%;
    }

    .bas1{
        top: 70%;
        width: 30%;
        right: 10%;
    }
    .haut1{
        width: 25%;
        right: 55%;
        top: -10%;
    }
    
    @media screen and (max-width:1000px) {
        
        .bas{
            width: 100%;
            left: 0%;
        }
        .haut{
            width: 100%;
            left: 0%;
        }
    
        .bas1{
            width: 100%;
            right: 0%;
        }
        .haut1{
            width: 100%;
            right: 0%;
        }
    
    }