*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{    
background-image: url(images/bg-body.jpg);
background-size: cover;
background-repeat: no-repeat;
 }
  
 .sec1_wrapper .card-text{
 left: 10%;  
top: 30px;  
}

 .btn{
bottom: -20px;   
} 

 @media screen and (max-width:1000px) { 
    .sec1_wrapper .card-text{
    left: 0;    
    }
    .btn{
    bottom:0px;   
    } 
} 

/* --------------------------------------section---about----------------------------- */

   .sec-about_wrapper .card-text{
    bottom: 150px;
    } 
     @media screen and (max-width:1000px) {
        .sec-about_wrapper .card-text{
            bottom:0px;
        } 
    } 


    /* --------------------------------------section---products----------------------------- */

    .bas{
        top: 70%;
        width: 30%;
        left: 10%;
    }
    .haut{
        width: 25%;
        left: 55%;
        top: -10%;
    }

    .bas1{
        top: 70%;
        width: 30%;
        right: 10%;
    }
    .haut1{
        width: 25%;
        right: 55%;
        top: -10%;
    }
    
    @media screen and (max-width:1000px) {
        
        .bas{
            width: 100%;
            left: 0%;
        }
        .haut{
            width: 100%;
            left: 0%;
        }
    
        .bas1{
            width: 100%;
            right: 0%;
        }
        .haut1{
            width: 100%;
            right: 0%;
        }
    
    }

  /* --------------------------------------section---products----------------------------- */
    .sec-store2_wrapper .card-text{
    bottom: 150px;
    }

    @media screen and (max-width:1000px) {
        .sec-store2_wrapper .card-text{
            bottom: 0px;
            } 
    }